@using Client.Models
@using X.PagedList
@using X.PagedList.Mvc
@model IEnumerable<Client.Models.StockListItem>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="#" class="btn btn-default btn-xs">Buy</a>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model as StaticPagedList<StockListItem>, p => Url.Action("Index", new { page = p }))
